<table width="90%">
	<tr>
		<td colspan="3">
			<table width="100%" class="busqueda">
				<tr>
					<th width="100%"> Busqueda de preguntas </th>
				</tr>
				<tr>
					<td> 
						<form method='get' action='/quizes'>
							<label> Texto a buscar: </label>
							<input type="text" value="" name="search" />
							<input type="submit" value="buscar" />
						</form>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th colspan="3">
			Preguntas
			<% if(typeof busqueda !== "undefined") { %>
				<a href="/quizes"> Ver todas las preguntas </a>
			<% }%>
		</th>
	</tr>
	<%
		for(var i=0;i<quizes.length;i++){
	%>
		<tr>
			<td width="50%"> <a href="/quizes/<%= quizes[i].id  %>"> <%= quizes[i].pregunta %>  </a> </td>
			<td width="30%"> <a href="/quizes/<%= quizes[i].id  %>/edit"> editar </a>
			<td>
				<form method='post' action='/quizes/<%= quizes[i].id %>?_method=delete'>
					<button type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>')">
						Borrar
					</button>
				</form>
			</td>
		</tr>
	<%
		}
	%>
	<tr>
		<td> <a href="quizes/new"> Crear pregunta </a> </td>
	</tr>
</table>